body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 왼쪽 패널 */
.left_panel {
    width: 20%; /* 패널 너비 */
    height: 100vh; /* 화면 전체 높이 */
    background-color: #f4f4f4; /* 배경 색상 */
    float: left; /* 왼쪽에 배치 */
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #ddd; /* 오른쪽에 경계선 추가 */
}

.left_panel input[type="text"] {
    width: calc(100% - 20px); /* 패딩을 뺀 너비 계산 */
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 4px; /* 모서리 둥글게 */
}

.left_panel .icons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 아이콘 간의 간격 */
}

.left_panel .inu_logo {
    width: 100%;
    margin-bottom: 30px;
}

.left_panel .icons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px; /* 모서리 둥글게 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.left_panel .icons button:hover {
    background-color: #ddd; /* 호버 시 배경색 변경 */
}

/* 메인 콘텐츠 영역 */
.center {
    width: 80%; /* 패널 너비 */
    height: 100vh; /* 화면 전체 높이 */
    float: right; /* 오른쪽에 배치 */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.center .messages {
    width: 100%;
    flex-grow: 1;
    background-color: #b4b3b3; /* 배경 색상 */
    border: 1px solid black;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto; /* 세로 스크롤 추가 */
    position: relative;
}

.center .dweb_logo {
    width: 500px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.center .logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.center .textinput {
    width: 100%; /* 전체 너비 */
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #413f3fe3; /* 테두리 색상 */
    border-radius: 4px; /* 모서리 둥글게 */
}

.message_form {
    display: flex;
    align-items: center;
    gap: 10px; /* 간격 */
    width: 100%;
}

.message_form form {
    display: flex;
    align-items: center;
    gap: 10px; /* 간격 */
    width: 100%;
}

.message_form button {
    padding: 10px 20px;
    border: none;
    background-color: #02499B; /* 배경 색상 */
    color: rgb(204, 198, 198); /* 텍스트 색상 */
    border-radius: 4px; /* 모서리 둥글게 */
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 전환 효과 */
}

/* 메시지 정렬 */
.message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    word-break: break-word; /* 단어 줄바꿈 */
}

.message.own-message {
    justify-content: flex-end; /* 본인의 메시지는 오른쪽 정렬 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
}